{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          },
          "useBuiltIns": "usage"
        }]
      ],
      "plugins": ["dynamic-import-node"]
    }
  }
}
